Options -Indexes

<Files ~ "\.tpl$">
Order allow,deny
Deny from all
</Files>

RewriteEngine On
#RewriteRule ^([^\.]+)$ index.php?page=$1    [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?path=$0